# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [1]:
%pip install -r requirements.txt

Collecting matplotlib==3.6.2
  Downloading matplotlib-3.6.2-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (9.4 MB)
     |████████████████████████████████| 9.4 MB 13.7 MB/s eta 0:00:01     |████████████████▏               | 4.7 MB 13.7 MB/s eta 0:00:01
Requirement already satisfied: pandas==2.0.1 in /home/coder/.local/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (2.0.1)
Requirement already satisfied: pytest==7.3.1 in /home/coder/.local/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (7.3.1)
Requirement already satisfied: rich==13.3.5 in /home/coder/.local/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (13.3.5)
Collecting SQLAlchemy==2.0.13
  Downloading SQLAlchemy-2.0.13-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 34.1 MB/s eta 0:00:01
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: numpy>=1.19 in /home/coder/.local/lib/python3.8/site-packages (from matplotlib==3.6.2->-r requirements.txt (line 1)) (1.24.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.40.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 22.7 MB/s eta 0:00:01     |█████████████████               | 2.3 MB 22.7 MB/s eta 0:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 33.9 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 35.3 MB/s eta 0:00:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.1.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
     |████████████████████████████████| 300 kB 21.1 MB/s eta 0:00:01
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 13.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /home/coder/.local/lib/python3.8/site-packages (from matplotlib==3.6.2->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /home/coder/.local/lib/python3.8/site-packages (from matplotlib==3.6.2->-r requirements.txt (line 1)) (23.1)
Requirement already satisfied: pytz>=2020.1 in /home/coder/.local/lib/python3.8/site-packages (from pandas==2.0.1->-r requirements.txt (line 2)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/coder/.local/lib/python3.8/site-packages (from pandas==2.0.1->-r requirements.txt (line 2)) (2023.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in /home/coder/.local/lib/python3.8/site-packages (from pytest==7.3.1->-r requirements.txt (line 3)) (1.0.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8; python_version < "3.11" in /home/coder/.local/lib/python3.8/site-packages (from pytest==7.3.1->-r requirements.txt (line 3)) (1.1.1)
Requirement already satisfied: iniconfig in /home/coder/.local/lib/python3.8/site-packages (from pytest==7.3.1->-r requirements.txt (line 3)) (2.0.0)
Requirement already satisfied: tomli>=1.0.0; python_version < "3.11" in /home/coder/.local/lib/python3.8/site-packages (from pytest==7.3.1->-r requirements.txt (line 3)) (2.0.1)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /home/coder/.local/lib/python3.8/site-packages (from rich==13.3.5->-r requirements.txt (line 4)) (2.2.0)
Requirement already satisfied: typing-extensions<5.0,>=4.0.0; python_version < "3.9" in /home/coder/.local/lib/python3.8/site-packages (from rich==13.3.5->-r requirements.txt (line 4)) (4.5.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/coder/.local/lib/python3.8/site-packages (from rich==13.3.5->-r requirements.txt (line 4)) (2.15.1)
Requirement already satisfied: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in /home/coder/.local/lib/python3.8/site-packages (from SQLAlchemy==2.0.13->-r requirements.txt (line 5)) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib==3.6.2->-r requirements.txt (line 1)) (1.14.0)
Requirement already satisfied: mdurl~=0.1 in /home/coder/.local/lib/python3.8/site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich==13.3.5->-r requirements.txt (line 4)) (0.1.2)
Installing collected packages: cycler, fonttools, kiwisolver, pillow, contourpy, pyparsing, matplotlib, SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.15
    Uninstalling SQLAlchemy-2.0.15:
      Successfully uninstalled SQLAlchemy-2.0.15
Successfully installed SQLAlchemy-2.0.13 contourpy-1.1.0 cycler-0.11.0 fonttools-4.40.0 kiwisolver-1.4.4 matplotlib-3.6.2 pillow-9.5.0 pyparsing-3.0.9
Note: you may need to restart the kernel to use updated packages.

## Load data

In [16]:
import pandas as pd

df = pd.read_sql_table('bikes', 'sqlite:///../data/data.sqlite')
df.head(10)

              id  count
0  2020-01-01 00    327
1  2020-01-01 01    649
2  2020-01-01 02    963
3  2020-01-01 03    937
4  2020-01-01 04    706
5  2020-01-01 05    370
6  2020-01-01 06    203
7  2020-01-01 07    128
8  2020-01-01 08    101
9  2020-01-01 09    149

### Look at the first rows

In [8]:
df.head(10)

Empty DataFrame
Columns: [id, count]
Index: []

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [10]:
df.info()

df['clouds_qn8'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            9 non-null      int64
 1   clouds_qn8      9 non-null      int64
 2   ewind_qn8       9 non-null      int64
 3   ewind_fx911     9 non-null      int64
 4   moist_qn8       9 non-null      int64
 5   moist_absf_std  9 non-null      float64
 6   moist_vp_std    9 non-null      float64
 7   moist_tf_std    9 non-null      float64
 8   moist_p_std     9 non-null      float64
 9   moist_tt_std    9 non-null      float64
 10  moist_rf_std    9 non-null      float64
 11  moist_td_std    9 non-null      float64
 12  temp_qn9        9 non-null      int64
 13  temp_tt_tu      9 non-null      float64
 14  temp_rf_tu      9 non-null      float64
 15  vis_qn8         9 non-null      int64
 16  vis_v_vv        9 non-null      float64
 17  wind_qn3        9 non-null      int64
 18  wind_f          9 non-null      float64
 19  wind_d          9 non-null      int64
dtypes: float64(11), int64(9)
memory usage: 1.5 KB

array([1])